/*Reset some default styles*/
body,
h1,
ul,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #850000;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cf1919;
}

#todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.todo-item:hover {
  background-color: #f1f1f1;
}
.todo-item span {
  flex: 1;
  cursor: pointer;
}
.todo-item.completed span {
  text-decoration: line-through;
  color: #aaa;
}
.todo-item button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-item button:hover {
  background-color: #c82333;
}

.todo-item .edit-btn {
  background-color: #ffc107;
  margin-right: 5px;
}

.todo-item .edit-btn:hover {
  background-color: #e0a800;
}
